#records {
    max-height: 250px;
    overflow: scroll;
}
.form-check-label1{
    padding-top: 10px;
}

.type-sketching{
    color: rgb(70, 138, 57);
}
.type-painting{
    color: red;
}
.type-drawing{
    color: blue;
}


